<?xml version="1.0"?>

<model>
  <name>Airport Terminal Writing</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nam Truong Tran</name>
    <email>trannamtruong98@gmail.com</email>
  </author>

  <description>
    A model of an airport terminal writing.
  </description>

</model>
