<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_namespace" />
  <arg name="frame" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find arena-simulation-setup)/robot/go1/robot_control.yaml"
    ns="$(arg robot_namespace)" />

  <!-- load the controllers -->
  <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
    output="screen" ns="$(arg robot_namespace)"
    args="joint_state_controller
      FL_hip_controller FL_thigh_controller FL_calf_controller
      FR_hip_controller FR_thigh_controller FR_calf_controller
      RL_hip_controller RL_thigh_controller RL_calf_controller
      RR_hip_controller RR_thigh_controller RR_calf_controller " />

  <!-- load the parameter unitree_controller -->
  <group>
    <remap from="$(arg robot_namespace)/odom" to="odom_devnull"/>
    <include file="$(find unitree_controller_go1)/launch/set_ctrl.launch">
      <arg name="robot_namespace" value="$(arg robot_namespace)" />
      <arg name="target_state" value="5" />
    </include>
  </group>
  


  <node name="odom_pub" pkg="gazebo_utils" type="odom.py"
    args="$(arg robot_namespace)"
  />
</launch>   