<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_namespace" />
  <arg name="rname" />

  <!-- launch move_base -->
  
  <!--
  <include file="$(find unitree_move_base)/launch/move_base.launch">
      <arg name="rname" value="go1"/>
  </include>
  -->

  <!--
  
  <node pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false"
        output="screen" ns="$(arg robot_namespace)_gazebo" args="
          joint_state_controller
          FR_hip_controller FR_thigh_controller FR_calf_controller 
          FL_hip_controller FL_thigh_controller FL_calf_controller 
          RR_hip_controller RR_thigh_controller RR_calf_controller
          RL_hip_controller RL_thigh_controller RL_calf_controller"
          />

  <include file="$(find unitree_controller)/launch/set_ctrl.launch">
      <arg name="rname" value="$(arg rname)"/>
  </include>
  -->
  

<!-- spawn base controller -->
  <node 
   name="odom_pub" 
   pkg="gazebo_utils" 
   type="odom.py" 
   args="$(arg robot_namespace)" 
    />
</launch>   