<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="speed" />
  <arg name="namespace" />
  <arg name="train_mode" default="false"/>
  <arg name="agent_name" default="rule_05"/>

  <param name="agent_name" value="$(arg agent_name)" />

  <!-- DRL action frequency -->
  <rosparam command="load" file="$(find arena_bringup)/params/drl.yaml" />

  <!-- <rosparam file="$(find arena_bringup)/launch/plan_fsm_param.yaml" command="load" /> -->
  <group if="$(eval arg('train_mode') == false)">
    <node 
      name="rosnav_node" 
      pkg="rosnav" 
      type="rosnav_node.py" 
      output="screen" 
    />
    <node name="rosnav_action_node" pkg="testing" type="drl_agent_node.py" output="screen"/>
  </group>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find arena_simulation_setup)/configs/rosconsole.conf"/>
  
  <!-- spacial_horizon -->
  <node pkg="spacial_horizon" type="spacial_horizon_node" name="spacial_horizon_node" output="log" >
    <remap from="$(arg namespace)_$(arg model)/goal" to="$(arg namespace)/$(arg namespace)_$(arg model)/move_base_simple/goal" />
    <remap from="/move_base/NavfnROS/make_plan" to="$(arg namespace)/$(arg namespace)_$(arg model)/move_base_flex/NavfnROS/make_plan" />
    <remap from="/clock" to="$(arg namespace)/clock" />
  </node>

  <group ns="move_base_flex">
    <rosparam file="$(find arena_simulation_setup)/configs/mbf/local/teb_local_planner_params.yaml"
      command="load" subst_value="True" />
    <rosparam
      file="$(find arena_simulation_setup)/entities/robots/$(arg model)/configs/mbf/teb_local_planner_params.yaml"
      command="load" subst_value="True" />

    <param name="base_local_planner" value="TebLocalPlannerROS" />

  </group>

  <!-- move_base -->
  <remap from="move_base_flex/TebLocalPlannerROS/global_plan" to="/devnull" /> <!-- optics -->

</launch>