<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_namespace" />

  <!-- They are described in tiago.urdf.xacro -->
  <arg name="robot"  default="titanium"/>
  <arg name="arm"  default="false"/>
  <arg name="end_effector"  default="false"/>
  <arg name="ft_sensor"  default="false"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="false"/>
  <arg name="multi" default=""/>
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="public_sim" default="false"/>
  <arg name="tuck_arm" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="use_moveit_camera" default="false"/>
  <arg name="use_dynamic_footprint" default="false"/>
  <arg name="base_type" default="pmb2"/>
  <arg name="file_suffix" value="$(eval (('no-arm' if not arm else (end_effector if end_effector else 'no-ee') + ('_' +  ft_sensor if ft_sensor else ''))))"/>  
  <arg name="ee_suffix" value="$(eval (end_effector if end_effector else 'no-ee'))"/>


  <env name="LC_NUMERIC" value="C" />

  <rosparam ns="pal_robot_info" subst_value="true">
    type: "tiago"
    end_effector: $(arg ee_suffix)
    ft_sensor: $(arg ft_sensor)
    laser_model: $(arg laser_model)
    camera_model: $(arg camera_model)
    base_type: $(arg base_type)
    arm: $(arg arm)
  </rosparam>


  <!-- bring up robot -->
  <include file="$(find tiago_gazebo)/launch/simulation_tiago_bringup.launch">
    <arg name="arm" value="$(arg arm)"/>
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="ft_sensor" value="$(arg ft_sensor)"/>
    <arg name="laser_model" value="$(arg laser_model)"/>
    <arg name="camera_model" value="$(arg camera_model)"/>
    <arg name="public_sim"  value="$(arg public_sim)"/>
    <arg name="use_moveit_camera" value="$(arg use_moveit_camera)"/>
    <arg name="use_dynamic_footprint" value="$(arg use_dynamic_footprint)"/>
    <arg name="base_type" value="$(arg base_type)"/>
  </include>

   <!-- PID gains -->
   <rosparam command="load" file="$(find tiago_controller_configuration_gazebo)/config/pids.yaml"/>
   <!-- Override Gazebo Joint PID gain for arm_7_joint in case of no end-effector -->
   <param name="gains/arm_7_joint/p" value="10" if="$(eval ee_suffix == 'no-ee')"/>
 
 
   <rosparam command="load" file="$(find tiago_controller_configuration_gazebo)/config/hardware_gazebo/tiago_pal_hardware_gazebo_$(arg file_suffix).yaml"/>

   <node 
   name="odom_pub" 
   pkg="gazebo_utils" 
   type="odom.py" 
   args="$(arg robot_namespace)" 
    />
  <node name="cmd_vel_relay" pkg="topic_tools" type="relay" args="$(arg robot_namespace)/cmd_vel $(arg robot_namespace)/mobile_base_controller/cmd_vel" />

  <node name="scan_relay" pkg="topic_tools" type="relay" args="$(arg robot_namespace)/scan_raw $(arg robot_namespace)/scan" />


    <!-- run scan unifier -->
    <!-- Only needed if you are running tiago with omni_base variant -->
    <!-- <arg name="input_scans" value="['$(arg robot_namespace)/scan_front_raw', '$(arg robot_namespace)/scan_rear_raw']"/>
	<node pkg="cob_scan_unifier" type="scan_unifier_node" name="scanunifier" output="screen">
		<remap from="scan_unified" to="scan"/>
        <rosparam subst_value="True" param="input_scans">$(arg input_scans)</rosparam> 
        <param name="frame" value="$(arg robot_namespace)/virtual_base_laser_link"/>
	</node> -->


</launch>