/**:
  ros__parameters:
    circumscribed_radius: 0.225
    inscribed_radius: 0.225
    observation_sources: scan
    robot_base_frame: $(arg frame)base_link
    robot_radius: 0.225
    scan:
      clearing: true
      data_type: LaserScan
      marking: true
      sensor_frame: $(arg frame)hokuyo_link
      topic: $(arg namespace)/scan
