<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="model" />
  <arg name="speed" />

  <arg name="namespace" />
  <arg name="frame" />

  <group ns="move_base_flex">
    <rosparam file="$(find arena_simulation_setup)/configs/mbf/inter/aggressive.yaml"
      command="load" subst_value="True" />
    <!-- <rosparam
      file="$(find arena_simulation_setup)/entities/robots/$(arg model)/configs/mbf/inter/passthrough.yaml"
      command="load" subst_value="True" /> -->
    <param name="base_inter_planner" value="AggressiveInter" />
  </group>

</launch>