<?xml version="1.0"?>

<model>
  <name>arena_asian_noodles</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nam Truong Tran</name>
    <email>trannamtruong98@gmail.com</email>
  </author>

  <description>
    arena_asian_noodles model
  </description>
</model>
